<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="P04Zawodnicy.Shared.Properties.Settings.A_ZawodnicyConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=A_Zawodnicy;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>